.adv-main-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    background: rgba(4, 37, 89, 1);
    justify-content: space-evenly;
    margin: auto;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.5);
 }

.intro-section, .community-sub-section {
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    padding: 100px;
    flex-wrap: wrap;
  }
  
  .left-card .right-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .intro-section .left-card{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
  }
  .intro-section .left-card .top {
    font-size: 2em;
    color: white;
  }

  .faqs-card .left-card {
    font-size: 2em;
    color: black;
    padding: 1em;
    text-align: center;
  }
  .intro-section .left-card .top, .intro-section .left-card .bottom {
    width: 15em;
    display: flex;
    text-align: left;

  }
  .left-card .bottom {
    font-size: 1.2em;
  }
  .faqs-card .right-card {
    width:20em;
    gap: 5em;
  }
  .faqs-sub-section {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    background: rgba(84, 129, 178, 1);
    color: rgba(1, 15, 33, 1);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1em;
  }

  .faqs-sub-section .bottom{
    margin: auto;
    padding: 1em;
    padding-bottom: 0;
    opacity: 50%;
  }
  .faqs-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  button {
    background: rgba(1, 15, 33, 1);
    color: white;
    font-weight: 200;
    border-radius: 5em;
    letter-spacing: 5%;
    font-size: 1em;
    padding: 1em;
  }
  .right-card select {
    width: 100vh;
    padding: 12px; 
    margin-bottom: 10px; 
    border: none;
    border-bottom: 1px solid rgba(1, 15, 33, 1);
    background: rgba(84, 129, 178, 1);
    color: rgba(1, 15, 33, 1);
    cursor: pointer;
    font-size: 1.2em;
  }
  .right-card select:focus {
    outline: none;
    box-shadow: 0 0 0 2px  rgba(1, 15, 33, 1); 
  }

  @media (max-width: 767px) {
    .intro-section .top {
      font-size: 1.5em;
    }

    .hd {
      display: none;
    }

    .close {
      display: block;
      overflow: auto;
    }
  }