
 .footer-nav ul, .addresses nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .footer-nav a, .addresses nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
  }

  .footer-nav a:hover, .addresses a:hover {
    color: #adadad;
  }

  .main-footer {
    display: flex;
    flex-direction: column;
    background: rgba(4, 37, 89, 1);
    border-top: 1px solid rgba(194, 232, 255, 1);
    gap: 20px;
    padding: 40px;
    padding-bottom: 0px;
  }
  .main-footer .brand-logo-name {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
	margin-left: 5px;
    font-size: 1.7em;
    color: rgba(194, 232, 255, 1);
    opacity: 0.5;
    font-weight: lighter;
  }
  .main-footer .addresses {
   display: flex;
   justify-content: space-evenly;
   text-decoration: none;
   flex-wrap: wrap;
  }
  .footer-nav ul {
    display: flex;
  }

  .addresses nav ul{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    gap: 5px;
    opacity: 0.5;
  }
  .addresses nav p {
    font-weight: bold;
	font-size: 1.1em;
  }
  .social-link img {
    width: 1em;
    margin-right: .25rem;
  }

  .main-footer .footer-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;
  }
