.main {
    /* background-color: rgba(4, 37, 88, 1); */
    height: 100%;
    display: flex;
    flex-direction: column;
}
.main-header-cr {
    margin-bottom: -50px;
}

.brand-logo-name {
    margin: 2em;
    cursor: pointer;
}
.sec-cr {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}
.sec-cr .sect-title {
    border-bottom: solid rgb(84, 129, 178, 0.5) ;
    font-family: Inherit;
    font-size: 28px;
    color: #c2e8ff;
    font-weight: 150;
    padding: 5px 5px; 
}
.sec-cr .info {
    font-family: Inherit;
    font-size: 20px;
    color: #ffffff;
    font-weight: 100;
    margin-top: -10px;
}
.sec-cr .icons-choice {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2em;
    gap: 4em;
}
.icons-choice .info .sect-title input {
    padding: 0;
    margin: 0;
}
.icons-choice div {
    border: solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 12.5px 0px 0px 0px;
    width: 200px;
    font-family: inherit;
    font-size: 18px;
    color: #ffffff;
    font-weight: 100;
}
.sec-cr input {
    outline: none;
    border-radius: 5px;
    padding: 1em;
    font-family: Inherit;
    font-size: 24px;
    color: #ffffff;
    font-weight: 100;
    width: 600px;
    height: 40px;
    border: solid 1px;
    background-color: transparent;
    margin-bottom: 20px;
    margin-top: 1em;
}

.sec-cr .btn {
    margin: 2em;
}
.sub {
    /* position: absolute;  */
    width: 100%;
    bottom: 0; 
    z-index: 10;
    border-top: solid rgb(84, 129, 178, 0.5) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 10px;
    height: 80px;
}
.sub a {
    text-decoration: none;
    font-size: 1.1em;
    font-family: inherit;
    color: #ffffff;
    font-weight: 100;
    border-radius: 5px;
    padding: 5px 10px;
}

.sub .next, .sub .back {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-weight: 200;
    padding-right: 1.5em;
    padding-left: 1.5em;
}
.sub .next {
    background-color: #006eff;
    color: #c2e8ff;
}
.sec-cr a:hover {
    background-color: rgb(84, 129, 178);
    color: black;
  }
.sec-cr a:focus {
    opacity: 0.5;
}

.icons-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons-item .single-icon, 
.icons-item .aprt-icon {
    border: none;
}
