.sec-cr ul {
    margin-top: -10px;
    list-style-type: none;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 100vh;
    gap: 5px;
}
.sec-cr ul li {
    text-decoration: none;
    font-size: medium;
}
.sec-cr .img-cards {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;
}
.sec-cr .img-file {
    background: rgba(1, 15, 33, 0.6);
    border: solid black 0.5px;
    width: 200px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;

}
.sub button {
    border-radius: 5px;
}
.sub button:hover {
    opacity: 100%;
}

.brand-logo-name {
    margin: 2em;
    cursor: pointer;
}

.sub {
    bottom: 0;
}