.container {
  margin: 0;
  padding: 0;
  flex-grow: 1;
}

.full-height-grow {
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
.home-main-section {
  display: none;
}

.home-main-section {
  justify-content: center;
}
}
